name: serde_rusqlite
on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"
jobs:
  ci:
    runs-on: ubuntu-22.04
    env:
      SCCACHE_GHA_ENABLED: "true"
      RUSTC_WRAPPER: "sccache"
    steps:
      - uses: actions/checkout@v4
      - uses: mozilla-actions/sccache-action@v0.0.7
      - uses: dtolnay/rust-toolchain@stable

      - name: Clippy
        run: cargo clippy --workspace --all-targets --all-features --tests -- -D warnings

      - name: Test
        run: cargo test --workspace --all-targets --all-features
